* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.maincotainer::after {
    content: "";
    clear: both;
    display: block;
    margin-bottom: 70px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* mobile */
[class*="col-"] {
    width: 100%;
}

body {
    background-color: black;
}

.maincontainer {
    position: relative;
}

.container1 {
    position: relative;
}

.mainnav {
    position: sticky;
    top: 0px;
    z-index: 3;
}

.homenav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #111;

}

.homenavleft {
    width: 150px;
    display: flex;
}

.homenavleftspan {
    color: white;
    font-size: 25px;
    margin: auto;
    margin-left: 10px;
}


.homenavright {
    margin-right: 5px;
    display: flex;
}


#homenavbtndiv {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    margin: auto;
}

#homenavbtnslide {
    width: 100%;
    height: 160px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
} 

.homenavbtnslideul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.homenavbtnslideul li {
    height: 40px;
    border: 1px solid black;
    padding-left: 20px;
    color: white;
}

.homenavbtnslideul li:hover {
    background-color: #111;
}


.homenavbtnslideullink {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: black;
}

.homenavbtnslideullink:hover {
    color: white;
} 

.homenavbtnslideullispan {
    margin: auto 0px;
    font-size: 20px;
}

.home {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.homeleft {
    width: 100%;
    margin: auto;
    color: white;
    margin-top: 60px;
}

.myname {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.mynamework {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.mynamepara {
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 10px;

}

.homeleftbtndiv {
    text-align: center;
    margin-top: 10px;
    color: white;
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
}

#hireme {
    height: 40px;
    padding: 0px 10px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    margin: 10px 0px;
    background-color: #00A3E8;
}

#hireme:hover{
    transform: scale(1.05);
}

#projects {
    height: 40px;
    padding: 0px 10px;
    font-size: 20px;
    border: 2px solid #00A3E8;
    border-radius: 8px;
    margin: 10px 0px;
    background-color: transparent;
    
}

#projects:hover{
    transform: scale(1.05);
}

.projectslink {
    text-decoration: none;
    color: white;
}

.homeleftcontactdiv {
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
}

#linkedin {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin: 0px 10px;
    background-color: transparent;
    text-decoration: none
}

#linkedin:hover .linkedinimg{
    transform: scale(1.12);
}

.linkedinimg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.projectslink {
    border-radius: 50%;
}

#codepen {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    margin: 0px 10px;
}

#codepen:hover .codepenimg{
    transform: scale(1.12);
}
.codepenimg{
    height: 35px;
}

.homeright{
    width: 50%;
    height: 80%;
    max-height: 85vh;
    display: none;
    margin: auto;
    margin-top: 60px;
    padding: 0px;
}

.homerightimgdiv{
    width: 95%;
    max-width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.homerightimg{
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 0px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.aboutaside {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}

.aboutmediv {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.aboutmeimgdiv {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.aboutmeimgdiv1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #00A3E8;
    margin: 10px auto;

}


.aboutmeimg {
    border-radius: 50%;
    padding: 2px;
}

.aboutwork {
    font-size: 25px;
    color: #00A3E8;
    text-align: center;

}

.aboutpara {
    width: 90%;
    font-size: 15px;
    color: white;
    text-align: center;
    margin: 10px auto;
}

.aboutinfodiv{
    width: 100%;
    margin-top: 20px;
}

.aboutinfo{
    display: flex;
    justify-content:space-evenly;
}
.aboutinfocard{
    width: 170px;
    color: white;
}

.aboutinfoimgdiv{
    width: 80px;
    height: 80px;
    margin: auto;
}

.aboutinfoimgpara{
    /* border: 1px solid purple; */
    padding: 0px 3px;
}

.aboutinfocardimgpara1{
    text-align: center;
    font-size: 17px;
    color: #00A3E8;
}

.aboutinfocardimgpara2{
    font-size: 14px;
    text-align: center;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eduaside{
    margin-top: 60px;
}

.myjourney {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px 0px;
}

.edupart {
    margin-top: 20px;
}

.eduname {
    color: white;
    font-size: 25px;
    margin: auto;
}

.edumaincard {
    margin: 0px auto;
}

.educard {
    max-width: 400px;
    height: 150px;
    border: 1px solid #00A3E8;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 5px 10px;
    background-image: linear-gradient(-30deg, #091B2A,#113552);
}

.educard:hover{
    background-image: linear-gradient(-30deg, #092339,#123d61);
}

.educard1 {
    margin-top: 10px;
}

.educardtime {
    font-size: 17px;
    border-bottom: 1px solid white;
    color: white;
    margin: 3px auto;
}

.educardheading {
    font-size: 22px;
    color: #00A3E8;
    margin: 3px 0px;
    display: flex;
    justify-content: space-between;
}

.educardparacontainer{
    display: flex;
    justify-content: end;

}

.educardpara {
    width: 100%;
    font-size: 15px;
    color: white;
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.skillaside{
    margin-top: 60px;
}

.codingskill{
    margin-top: 30px;
}

.skillname{
    text-align: center;
    font-size: 30px;
}

.skillmaincard{
    margin-top: 40px;
}

.skillmaincard1{
    padding: 10px;
    border: 1px solid #00A3E8;
    border-radius: 10px;
    background-image: linear-gradient(-30deg, #091B2A,#113552);
}

.skillmaincard1:hover{
    background-image: linear-gradient(-30deg, #092339,#123d61);
}

.codingskillname{
    font-size: 25px;
    margin: 0px 20px;
    color: #00A3E8;
}

.skillcard{
    font-size: 18px;
    margin: 0px 20px;
    margin-top: 10px;
}


.skilloutputmaindiv{
    display: flex;
}

.skilloutputdiv{
    width: 100%;
    border: 1px solid white;
    margin: 5px 0px;
    border-radius: 5px;
}

.htmlrange{
    height: 20px;
    background-color: #00A3E8; 
    border-radius: 3px;
}



.rangeper{
    margin: auto 5px;
    display: flex;
    justify-content: center;
}

.project{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectheading{
    font-size: 30px;
    text-align: center;
}

.projectaside{
    margin-top: 60px;
}


.mainprojectsdiv{
    margin-top: 30px;
    padding: 5px 0px;
    
}

.mainprojectname{
    width: 90%;
    max-width: 300px;
    font-size: 25px;
    margin: auto;
    color: #00A3E8;
}

.mainprojectcard{
    width: 80%;
    max-width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    height: 200px;
    margin: auto;
    margin-top: 15px;
    position: relative;
}

.mainprojectcard1{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: absolute;
    top: 0px;
    animation-name: mainprojectcard1;
    animation-duration: 0.3s;
    display: none;
    overflow: hidden;
}

@keyframes mainprojectcard1 {
    0%{
        height: 0px;
    }
}

.mainprojectcard2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;

}

.mainprojectcard:hover .mainprojectcard1{
    display: block;
}

.mainprojectcardp{
    font-size: 20px;
    margin: auto;
}

.mainprojectcard2p1{
    display: flex;
    justify-content: center;
}

.mainprojectcarda{  
    margin: auto;
    color: white;
    font-size: 15px;
}

.mainprojectcard3{
    display: none;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactaside{
    margin-top: 60px;
}

.contactmename{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}


.contactform{
    width: 85%;
    max-width: 500px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px 10px;
    margin: auto;
    color: black;
    
}

.contactform input{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 10px;
    font-weight: 500;
    border: none;
    
}
.contactform textarea{
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 500;
    border: none;
    
}

.contactbtndiv{
    display: flex;
    justify-content: end;
    padding: 8px 0px;
}

.contactsend{
    font-size: 20px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 5px;
}





@media screen and (min-width:480px) {
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    

    .home{
        flex-direction: row;
    }

    .homeright{
        display: block;
    }

    

    .aboutmeimgdiv1{
        width: 200px;
        height: 200px;
    }

    .skill{
        height: 100vh;
    }

    .mainprojectname{
        max-width: 500px;
    }

    .mainprojectcontainer1{
        width: 90%;
        max-width: 500px;
        margin: auto;
        padding: 0px;
    }

    .mainprojectcontainer2{
        display: flex;
        justify-content: space-between;
    }

    .mainprojectcontainer3{
        display: flex;
        justify-content: space-between;
    }

    .mainprojectcard{
        width: 30%;
        min-width: 200px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .mainprojectcard3{
        display: none;
    }

   

   
}





@media screen and (min-width:768px) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }


    

    .home{
        flex-direction: row;
    }

    .homeright{
        display: block;
    }

    

    .aboutmeimgdiv1{
        width: 250px;
        height: 250px;
        
    }

    .edupart1{
        max-width: 350px;
        margin: auto;
    }

    .skillmaincard1{
        max-width: 400px;
        margin: auto;
    }

    

    .mainprojectname{
        max-width: 100%;
    }
    

    .mainprojectcontainer1{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }

    .mainprojectcontainer2{
        width: 100%;
        margin: auto;
    }

    .mainprojectcard{
        width: 30%;
    }

    .mainprojectcard3{
        display: block;
    }

    .mainprojectcard4{
        display: none;
    }

   
}